<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
      <div class="header">
          <nav>
            <ul class="nav">
                <li role="presentation"><a href="/"/>Dashboard</a></li>
                <li role="presentation"><a href="/users/login">Login</a></li>
                <li role="presentation"><a href="/users/register">Register</a></li>
                <li role="presentation"><a href="/users/logout">Logout</a></li>
            </ul>
          </nav>
      </div>
      <div class="body">
        {{{body}}}
      </div>
  </div>
</body>
</html>
