<div class="content">
  <span class="intro">
    <h2 id="intro-nav">Register</h2>
    <p>Sign up for burger</p>
  </span>
  <div class="field">
    <section class="input-content">
      <h2>Register</h2>
      <form class="" action="index.html" method="post">
        <div class="input-div-field">
          <input class="input-field" id="input-1" type="text" />
          <label class="input-label" for="input-1">
            <span class="input-label-content">Fullname</span>
          </label>
        </div>
        <div class="input-div-field">
          <input class="input-field" id="input-2" type="text" />
          <label class="input-label" for="input-2">
            <span class="input-label-content">Username</span>
          </label>
        </div>
        <div class="input-div-field">
          <input class="input-field" id="input-3" type="email" />
          <label class="input-label" for="input-3">
            <span class="input-label-content">Email</span>
          </label>
        </div>
        <div class="input-div-field">
          <input class="input-field" id="input-4" type="password" />
          <label class="input-label" for="input-4">
            <span class="input-label-content">Password</span>
          </label>
        </div>
        <div class="input-div-field">
          <input class="input-field" id="input-5" type="password" />
          <label class="input-label" for="input-5">
            <span class="input-label-content">Confirm PW</span>
          </label>
        </div>
      </form>
    </section>
  </div>
</div>
